@media (max-width: 767.98px) {
    header {
        position: relative;
    }

    .sign-page {
        padding: 24px 0;
    }

    .sign-in {
        height: auto;
    }
}

@media (max-width: 565.98px) {

    .sign-page {
        padding: 0;
    }

    .sign-block {
        border-radius: unset;
        box-shadow: none;
        padding: 24px;
        max-width: 100%;
    }

    .sign-up {
        padding: 0;
    }
}